  <footer>
    <div class="navftr">
    <h2 class="font">Navigate</h2>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/onthemenu">On the menu</a></li>
      {{#if user}}
      <li><a href="/user/logout">Log Out</a></li>
      {{else}}
      <li><a href="/user/login">Login</a></li>
      <li><a href="/user/signup">Sign Up</a></li>
      {{/if}}
    </ul>
    </div>
    <div class="socials">
    <h2 class="font">Socials</h2>
    <ul>
      <li><a href="https://www.facebook.com/">Facebook</a></li>
      <li><a href="https://www.twitter.com/">Twitter</a></li>
      <li><a href="https://www.instagram.com/">Instagram</a></li>
    </ul>
    </div>
    <div class="copyright">
      <p>Copyright © Winter 2021, Mohammad Uddin, WEB322NDD</p>
    </div>
  </footer>
