<div class="container-fluid text-center">
    <h1 class="font pt-5 text-center">
        Welcome to Foodiez {{user.firstName}} {{user.lastName}}
    </h1>
    <p class="text-center pt-2 font h3">Thank You for joining the Foodiez family,<br>
        We hope our meals put a smile on your face.
    </p>
    <img class="spoon" src="/images/spoons.png" alt="spoon">
</div>